<!DOCTYPE html>
<html>

<head>
    <title>Check My Plant</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    
    <style>
        .hero {
            height: 100%;
        }
        #pred_img {
            height: 500px;
            margin-right: auto;
            margin-left: auto;
            display: block;
        }
    </style>
</head>

<body>

    <section class="hero is-fullheight" has-background-black>

        <body style="background-color:rgb(78, 124, 60)">
            <section class="section">
                <div class="container">
                    <h1 class="title" style="font-size:2.5rem">
                        <img id="title" src="/static/logo-image.jpg" alt="logo"></a>
                    </h1>
                </div>
            </section>
            <div class="columns">
                <div class="column is-narrow">
                </div>

                <div class="column is-one-third has-text-centered" style="vertical-align:middle;">
                    <img id="pred_img" src="{{ url_for('send_file', filename=imagefile)}}" />
                </div>
                <div class="column is-one-quarter" style="font-size:2.5rem; text-align: center;">

                    <h2 id="pred" style="color:white">
                        This is a <span style="font-weight: bold; color:whitesmoke;">{{ label }}</span>
                    </h2>

                    <h2 style="font-size: 3rem">
                        Prediction: <span style="font-weight: bold; color:white;">{{prob}}%</span>
                    </h2>
                    <br>
                    <a href="/" class="button is-black is-inverted is-outlined"
                        style="font-size:2.5rem; color:rgb(237, 16, 16);">Back</a>
                </div>
            </div>
            <section class="hero is-fullheight has-background-black">
                <div class="container">
                </div>
            </section>

        </body>

</html>