<!DOCTYPE html>
<html>

<head>
  <title>Check My Plant</title>

  <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
  <div id="header">
    <section class="content">
      <div class="container">
        <h1 class="title" style="font-size:2.5rem">
          <a href="/"><img id="title" src="/static/logo-image.jpg" alt="logo"></a>
        </h1>
      </div>
    </section>
  </div>

  <div class="content">
    <div class="container has-text-centered bg-text" style="width: 100%; font-size:2.5rem; color:rgb(237, 16, 16);">
        <i class="arrow_down"></i>
        <form action="/classify" method="post" enctype="multipart/form-data"
          style="margin-top: 30px; width: 80%; text-align: center; margin: auto;">
          <div class="file has-name is-centered">
            <label class="file-label">
              <input class="file-input" type="file" id="image" name="image"
                style="font-size:2.5rem; color:rgb(237, 16, 16);">
            </label>
          </div>
          <br>
          <input type="submit" value="Recognition" class="button is-black" name="image" id="classify_button"
            style="font-size:2.5rem; color:rgb(237, 16, 16);">
        </form>
    </div>
  </div>

  </section>




</body>

</html>